<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/nav.ejs %>
<style>
    /*body {*/
        /*overflow-y: hidden;*/
    /*}*/
</style>
<script>var user = <%-JSON.stringify(user) %></script>
    <div class="container">
        <div class="row">
            <div class="card large">
                <nav class="grey">
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo" style="margin-left: 1%;">Public Chat</a>
                    </div>
                </nav>
                <div class="row medium" id="chatBox">
                    <div id="sidetab" class="col s3">
                        <ul class="side" id="users">
                        </ul>
                    </div>
                    <div id='scrollBox' class="col s9">
                        <div id="content">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s8">
                <input type="text" id="field">
                <label for="field">Send Message</label>
                <button type="button" id="send" class="btn purple">Send Message</button>
            </div>
            <div class="input-field col s4">
                <select class='status' name="new_status" id="status" onchange="upStatus()">
                    <%
                    for(let i = 0; i < statuses.length; i++) {
                    %><option value="<%= statuses[i].status_id %>" <% if( user.status == statuses[i].status_id ) { %> selected <% } %>><%= statuses[i].status %></option> <%
                    }
                    %>
                </select>
                <span class="badge">Change Your Status</span>
            </div>
        </div>
    </div>

<% include ../partials/footer.ejs %>
<script src="/javascripts/chat.js"></script>
<script src="socket.io/socket.io.js"></script>
</body>
</html>