<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/nav.ejs %>
<div class="section"></div>
<body>
<div class="section"></div>
<main>
    <div class="center">

        <div class="section"></div>

        <h5 class="secondary-text-color">Please login to use the app</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <i class="material-icons">person</i>
                <form class="col s12" method="post" action="/account/login">
                    <% if (typeof message !='undefined') { %>
                        <div class="row" id="warnRow" style="">
                            <div id="card-alert" class="card deep-purple">
                                <div class="card-content white-text">
                                <p id="warning"><%= message %></p>
                            </div>
                            </div>
                        </div>
                    <% } %>


                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='email' name='email' id='email' />
                            <label for='email'>Enter your email</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password' />
                            <label for='password'>Enter your password</label>
                        </div>
                        <label style='float: right;'>
                            <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                        </label>
                    </div>

                    <br />
                    <div class="center">
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect accent-color'>Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a href="/account/createAccount">Create account</a>
    </div>

    <div class="section"></div>
    <div class="section"></div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>