
<footer class="page-footer default-primary-color">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">Who We Are</h5>
                <p class="grey-text text-lighten-4">Material Chat is a project that grew out of a desire to learn more about Node.js, Socket.io, and the Material Design
                philosophy. Although it may be simple, we hope you enjoy the application that we've created</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright 2017 <a class="orange-text text-lighten-3" href="https://www.github.com/Mando75" target="_blank">Bryan Muller</a> |
            Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize CSS</a> |
            Images courtesy of <a class="orange-text text-lighten-3" href="http://unsplash.com" target="_blank">Unsplash</a> |
            All Rights Reserved
        </div>
    </div>
</footer>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="/javascripts/docReady.js"></script>