<head>

    <title><%= title %></title>

    <!--Materialize stuff-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/palette.css">
    <!--Custom css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Google Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>