<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <main>
      <% if(typeof user == 'object' && user) { %>
        <%  include account/userLandingPage.ejs %>
     <% } else { %>
        <% include partials/prelogin.ejs %>
     <% }%>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>
