@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
body {
  /*padding: 50px;*/
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e0f2f1;
}


@media (min-width:992px) {

}

.title {
  font-family: 'Yellowtail';
}

#createForm {
  margin: 2%;
}
