@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');


body {
  /*padding: 50px;*/
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e0f2f1;
}


@media (min-width:992px) {

}

.title {
  font-family: 'Yellowtail';
}

#createForm {
  margin: 2%;
}

.background {
  max-width:100%;
  max-height:100%;
}

#avatar {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

#username {
  margin-top: 0;
  padding-top: 2px;
}

#username, #email {
  font-weight: bolder;
}

.user-info-bg {
  background-color: rgba(255, 255, 255, .5);
  /*border-radius: 50px;*/
}

.full-view {
  /*background-image: url("")*/
}


.favatar {
  width: 24px;
  height: 24px;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

#chatBox {

  overflow-x: hidden;
  height: 436px;
}

#scrollBox::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scrollBox::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#scrollBox::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

#scrollBox {
  background: url('/images/chatbox.jpg') no-repeat center center fixed;
  height: 436px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}
#content {

}

#content p {
  background-color: white;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  word-break: break-word;
}

/*****************************************************/

.side li>a {
  color: rgba(0,0,0,0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}