<div style="font: 'Arial Narrow'; text-align: center">
    <h1>Material Chat</h1>
    <h2>Hi <%= name %></h2>
    <h4>Your friend <%= user %> has invited you to join Material Chat!</h4>
    <h5>Sign up now to join them and others!</h5>
    <a role="button" href="chat-material.herokuapp.com/account/createAccount">Sign Up Today!</a>
</div>